body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
  }
  /* Menu */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  /* Texte dans le menu */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  /* Quand on passe la souris sur le texte dans le menu */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  /* Bouton pour fermer le menu */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  /* Pour que le contenu soit poussé quand on ouvre le menu */
  #main {
    transition: margin-left .5s;
    padding: 17px;
    margin-top: -60px;
    
  }
  /* Design pour la page d'acceuil */
  .cadre2 {
    border: 1px solid black;
    height: 50px;
    background-color: black;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -10px;
  }
  
  .inf {
    text-align: center;
  }
  
  .jeu {
    text-align: center;
    margin-top: -15px;
  }
  
  .bordure {
    border: 2px solid #818181 ;
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .bordure2 {
    border: 2px solid #818181 ;
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .img1{
   width: 35%;
  }