body {
    background: url(csgo2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}




.toggle_btn {
    height: 30px;
    width: 30px;
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 50px;

}

.toggle_btn span {
    height: 3px;
    background-color:#f39c12;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}

.toggle_btn span:before {
    content:'';
    height: 3px;
    background-color:#f39c12;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;

}

.toggle_btn span:after {
    content:'';
    height: 3px;
    background-color:#f39c12;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
}


.menu {
    height: 1072px;
    background-color: #f39c12;
    width: 210px;
    margin-right: 50px;
}

.menu a {
    color:#ffffff;
    font-family: sans-serif ;
    text-align:center;
    display:block;
    padding-top: 60px;
    text-decoration: none;
    font-weight: bold;
    

}

.txtmenu{
    text-align: top, right;
}

.logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

.nav {

    margin-left: -200px;
    transition: 0.4s;

}

.nav_open {
    margin-left: 0;
    transition-duration: 0.4s;
}

#cadre1 {
    border:1px solid black;
    height:700px;
    width:500px;
    background-color:black;
    color: white;
    margin-left: 500px;
    margin-top: -700px;
    opacity: 0.75;
 }
  
#test{
    text-align: right;
    color: #f39c12;
    margin-right: -50px;
    margin-top: 10px;
}
