body {
 background-color: #e67e22;
 background-attachment: fixed;
}



.toggle_btn {
    height: 30px;
    width: 30px;
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 50px;

}

.toggle_btn span {
    height: 3px;
    background-color:white;
    width: 16px;
    position: absolute;
    top: 15px;
    left: 0;
}

.toggle_btn span:before {
    content:'';
    height: 3px;
    background-color:white;
    width: 16px;
    position: absolute;
    top: -5px;
    left: 0;

}

.toggle_btn span:after {
    content:'';
    height: 3px;
    background-color:white;
    width: 16px;
    position: absolute;
    top: 5px;
    left: 0;
}


.menu {
    height: 1072px;
    background-color: black;
    width: 200px;
    margin-right: 50px;
    z-index: 100000000000000000;
    margin-top: -20%;
    padding-bottom: 100%;
    background-attachment: fixed;
    padding-top: 20%;
    
}

.menu a {
    color:#ffffff;
     font-family: sans-serif ;
    font-family: Verdana;
    font-family: sans-serif ;
    text-align:center;
    display:block;
    padding-top: 60px;
    text-decoration: none;
    font-weight: bold;
    

}

.menu a:hover {
    color:grey;

}

.menu .closebtn {
    position: absolute;
    top: -35px;
    left: 120px;
    font-size: 36px;
    margin-left: 50px;
}

.nav {


    margin-left: -220px;
    transition: 0.6s;


}

.nav_open {
    margin-left: -8px;
    transition-duration: 0.6s;
}

.logo {
    font-weight: bold;
    font-size:23px;
}




 #cadre2 {
     border:1px solid black;
     height: 50px;
     width: 100%;
     background-color:black;
     font-size: 100%;
     margin-top: -9px;
     margin-left: -5%;
     margin-right: -5%;
     padding-left: 100%;
     z-index: 0;
  
    
    
     
 }
  
#test{
    text-align: right;
    color: white;
    margin-right: -37px;
    margin-top: 8px;
    }




